:root {

/* ===========================================
WIDESCREEN RESPONSIVO 2440px
============================================== */

/* ======================
--CORES-- 
========================= */

  --color-title: #ffffff;
  --color-text: #C0C2D8;
  --color-bg: #050D1A;
  --color-tag: #2F7BE7;

/* ======================
--GRADIENTES-- 
========================= */
  --color-header: linear-gradient(90deg, #08162A 0%, #0B1F3C 100%);
  
/* ====================== 
--BOTÕES E TEXTOS-- 
========================= */

/* BOTÃO PRIMÁRIO */ 
  --color-btn1-text: #ffffff;
  --color-btn1: #2F7BE7;

/* BOTÃO SECUNDÁRIO */
  --color-btn2-text: #C0C2D8;
  --color-btn2: linear-gradient(90deg, #07122200 0%, #041124 100%);
/* BOTÃO SECUNDÁRIO COM HOVER */
  --color-btn2-hover: #2F7BE7;

/* BORDAS */
  --border-primary: #1B1D30;
  --border-tag: #1b1f44;
  --border-btn2: #3a3e65;
/* BORDAS NO HOVER */
  --border-btn2-hover: 2px solid #2F7BE7;

/* HOVER */
  --color-nav-hover: #ffffff;
  --color-btn1-hover: #3d5475;
  --border-hover: #0d439030;

/* SOMBRA DA CAIXA / HOVER */
  --shadow-btn2: 0 0 10px 0 #2F7BE7;

  
/* ========================= 
--TIPOGRAFIA--
============================ */

  --font-title: 'Figtree', sans-serif;
  --font-text: 'Inter', sans-serif;
  --fs-h1: 45px;
  --fs-h2: 35px;
  --fs-h3: 30px;
  --fs-h4: ;
  --fs-h5: ;
  --fs-h6: ;
  --fs-p: 18px;
  --lh-title: 150%;
  --lh-text: 200%;

/* ============================ 
--ESPAÇAMENTOS-- 
=============================== */
  --section-padding-top: 120px;
  --section-padding-bottom: 120px;
  --container-padding: 32px;
  --padding-btn1: 50px 120px;
  --padding-btn2: 45px 100px; 
  --gap-12: 12px;
  --gap-24: 24px;
  --gap-nav: 150px;

/* LAYOUT */    
  --h1-width: 50%;
  --container-width: 1720px;
  --radius: 14px;
}

/* ===============================
--RESET / GLOBAL--
================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--fs-p);
  font-family: var(--font-text);
  overflow-x: hidden;
}

section {
  position: relative;
}

section:not(.hero):not(.ticker) {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-padding);
}

/* ============================
--TIPOGRAFIA / FONTES--
============================ */

h1,
h2,
h3 {
  font-family: var(--font-title);
  font-weight: 700;
  color: var(--color-title);
  text-wrap: balance;
}

p {
  color: var(--color-text);
  line-height: var(--lh-text);
  font-size: var(--fs-p);
  text-wrap: balance;
}

/* =========================
--HERO-SECTION--
========================= */

.hero {
  height: 900px;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
  border: 1px solid var(--border-primary);
  background: url(./assets/Background.png);
  background-size: cover;
}

.hero-content {
  width: 100%;
  padding-top: 110px;
}

.hero-content h1 {
  width: var(--h1-width);
  font-size: var(--fs-h1);
  line-height: var(--lh-title);
  margin-bottom: 20px;
}

.hero-content p {
  width: 100%;
  max-width: 560px;
  margin-bottom: 40px;
}

/* =========================
--HEADER / CABEÇALHO--
========================= */

.header {
  width: 100%;
  height: 140px;
  margin: 52px auto 0;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-primary);
  border-radius: var(--radius);
  background: var(--color-header);
}

/* =========================
--LOGOTIPO / LOGO--
========================= */

.logo {
  display: flex;
  align-items: center;
  gap: var(--gap-12);
}

.logo-text {
  font-family: 'RocknRoll One', sans-serif;
  font-size: 37px;
  letter-spacing: .1em;
}

/* =========================
--NAVEGADOR / NAV--
========================= */

nav {
  display: flex;
  gap: var(--gap-nav);
}

nav a {
  color: var(--color-text);
  text-decoration: none;
  transition: 0.3s ease;
}

nav a:hover {
  color: var(--color-nav-hover);
}

/* =========================
--BOTÕES PRIMÁRIO E SECUNDÁRIO--
========================= */

.secondary-btn,
.secondary-btn2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-12);
  border: 1px solid #3a3e65;
  border-radius: var(--radius);
  color: var(--color-btn2-text);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.2s ease;
}

.secondary-btn {
  padding: 45px 100px;
}

.secondary-btn2 {
  padding: 45px ;
}

.secondary-btn:hover,
.secondary-btn2:hover {
  color: var(--color-nav-hover);
  background: var(--color-btn2);
  border: 2px solid var(--color-btn2-hover);
  box-shadow: var(--shadow-btn2);
}

.cta-wrapper {
  position: relative;
  width: fit-content;
}

.cta-shadow {
  position: absolute;
  inset: 0;
  border-radius: var(--radius);
  background: rgba(75, 86, 200, 0.8);
  filter: blur(20px);
}

.cta-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-12);
  padding: 55px 125px;
  border-radius: var(--radius);
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: linear-gradient(90deg, #307CE8 0%, #1763CF 100%);
  transition: all 0.2s ease;
}

.cta-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #307CE8 0%, #1b6fe7 100%);
  box-shadow: 0 0 80px 0px #4B56C8;
}

/* =========================
--BOTÃO DO WHATSAPP FLUTUANTE--
========================= */

.whatsapp-float {
  position: fixed;
  z-index: 200;
  right: max(var(--container-padding), calc((100vw - 1680px) / 2 + var(--container-padding))
  );
  bottom: 140px;
  width: 102px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(90deg, #307CE8 0%, #1763CF 100%);
  box-shadow: 0 0 60px rgba(75, 86, 200, 0.6);
  transition: all 0.1s ease;
}

.whatsapp-float:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #307CE8 0%, #1b6fe7 100%);
  box-shadow: 0 0 50px 10px #4B56C8;
}

/* =========================
--CABEÇALHO DA SEÇÃO--
========================= */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px;
  margin-bottom: 40px;
}

.section-header h2 {
  width: 100%;
  font-size: 35px;
  line-height: var(--lh-title);
}

.section-header p {
  width: 100%;
  text-align: right;
}

/* =========================
--BARRA / FAIXA ANIMADA--
========================= */

.ticker {
  width: 100%;
  height: 124px;
  margin: 120px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #1b1d30;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
}

.ticker-track {
  display: flex;
  width: 100%;
  white-space: nowrap;
  animation: ticker-scroll 30s linear infinite;
}

.ticker-track span {
  font-size: 22px;
  color: #C0C2D8;
}

.ticker-group {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-right: 80px;
  flex-shrink: 0;
}

@keyframes ticker-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* =========================
--GALERIA DE IMAGENS--
========================= */

.gallery-header {
  text-align: center;
  margin-bottom: 60px;
}

.gallery-header h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.gallery-header p {
  width: 90%;
  margin: 0 auto;
}

.gallery-grid {
  display: flex;
  gap: 24px;
}

.image {
  border-radius: 14px 0 0 14px;
  border: 1px solid #1b1d30;
}

.gallery-grid .image-card {
  height: 463px;
}

.card-1,
.card-2,
.card-3 {
  height: 463px;
  overflow: hidden;
  border-radius: var(--radius);
  border: 1px solid #1b1d30;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
}

.card-1,
.card-2 {
  width: 100%;
}

.card-3 {
  width: 100%;
}

.card-1 img,
.card-2 img,
.card-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: contents;
}

.cards-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 60px;
}

/* =========================
--CARTÕES DE DESTAQUE--
========================= */

.feature-card {
  display: flex;
  margin-bottom: 40px;
  transition: all 0.2s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
}

.feature-image {
  width: 100%;
  height: 673px;
  border-radius: 14px 0 0 14px;
  border: 1px solid #1b1d30;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
}

.feature-content {
  width: 100%;
  height: 675.98px;
  padding: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 6px 6px 0;
  border: 1px solid #1b1d30;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
  gap: 10px;
}


.feature-content h3 {
  font-size: 30px;
  line-height: var(--lh-title);
  margin-bottom: 24px;
  text-align: left;
}

.feature-content p {
  margin-bottom: 20px;
  text-align: left;
}

.tag {
  width: fit-content;
  padding: 25px 35px;
  margin-bottom: 30px;
  border-radius: var(--radius);
  border: 1px solid #1b1f44;
  background: #09172d;
  color: var(--color-tag);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;
  font-style: italic;
}

p.step-number {
  background: #07152A;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 30px;
  gap: 10px;
  width: 100%;
  height: 77px;
  border-bottom: 1px solid #262B54;
  border-radius: var(--radius);
}

.big-cta {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

/* =========================
--MINI-CARDS--
========================= */

.dual-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 60px;
}

.mini-card {
  min-height: 680px;
  padding: 85px;
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  border: 1px solid #1b1d30;
  border-left: 8px solid #2D78E4;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
  transition: all 0.4s ease;
}

.mini-card:hover {
  transform: translateY(-2px);
  border: 1px solid #0d439030;
  background: linear-gradient(90deg, #121f32 0%, #0e1e35 100%);
}

.mini-card-content h3 {
  margin: 30px 0 20px;
  font-size: 30px;
  line-height: var(--lh-title);
}

/* =========================
--ÍCONES--
========================= */

.icone-instagram,
.icone-facebook {
  display: flex;
  transition: all 0.2s ease;
}

.icone-instagram:hover,
.icone-facebook:hover {
  transform: scale(1.2);
}

.icone-olho {
  width: 40px;
}

.icone-adicionar {
  width: 20px;
}

.icon-lines {
  width: 52px;
  height: 42px;
  position: relative;
}

.icon-lines::before,
.icon-lines::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid #2C78E4;
}

.icon-lines::after {
  top: 10px;
  left: 10px;
}

/* =========================
--SEÇÃO SOBRE NÓS--
========================= */

.about-section {
  position: relative;
  overflow: hidden;
}

.about-bg-text {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 50%;
  margin-top: -350px;
  transform: translateX(-50%);
  pointer-events: none;
}

.about-bg-text h2 {
  font-family: 'Inter', sans-serif;
  font-size: 380px;
  font-weight: 700;
  line-height: var(--lh-title);
  text-align: center;
  white-space: nowrap;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-card {
  position: relative;
  z-index: 2;
  min-height: 666px;
  margin-top: 292px;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  border: 1px solid #1b1d30;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
  transition: all 0.2s ease;
}

.about-card:hover {
  transform: translateY(-8px);
}

.about-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
}

.about-image {
  width: 765px;
  height: 579px;
  flex-shrink: 0;
  margin-left: -180px;
}

.about-image img {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
  border-radius: var(--radius);
}

.about-content {
  width: 520px;
  margin-left: 100px;
}

.about-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.about-header span {
  font-size: 24px;
  font-weight: bold;
  line-height: var(--lh-title);
  letter-spacing: 6px;
  color: #2F7BE7;
}

.about-header h3 {
  font-size: 35px;
  line-height: var(--lh-title);
}

.about-texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-texts p {
  line-height: var(--lh-text);
}

/* =========================
--FAQ - PERGUNTAS E RESPOSTAS--
========================= */

.faq-header {
  margin-bottom: 60px;
}

.span-titulos {
  color: #2F7BE7;
  font-style: italic;
}

.faq-header span {
  display: inline-block;
  margin-bottom: 20px;
  color: #2F7BE7;
  font-weight: bold;
  letter-spacing: 6px;
  font-style: italic;
}

.faq-header h2 {
  font-size: 35px;
}

.faq-wrapper {
  display: grid;
  grid-template-columns: 1fr 420px;
  gap: 40px;
}

.faq-lista {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  width: 68%;
  height: 113px;
  padding: 36px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius);
  border: 1px solid #1b1d30;
  border-left: 10px solid #2D78E4;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
  transition: all 0.2s ease;
}

.faq-item:hover {
  transform: translateY(-2px);
  border: 1px solid #0d439030;
  background: linear-gradient(90deg, #121f32 0%, #0e1e35 100%);
}

.faq-suporte {
  width: 552px;
  height: 400px;
  margin-left: -133px;
  padding: 60px;
  border-radius: var(--radius);
  border: 1px solid #1b1d30;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
}

.faq-suporte h3 {
  margin-bottom: 24px;
  color: #2F7BE7;
  font-family: 'Figtree', sans-serif;
  font-size: 24px;
  letter-spacing: 6px;
}

.faq-suporte p {
  line-height: var(--lh-text);
  margin-bottom: 32px;
}

/* =========================
--FOOTER / RODAPÉ--
========================= */

.footer {
  width: 100%;
  max-width: 100%;
  height: 120px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #1b1d30;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
}

p.text-footer {
  font-size: 16px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 37%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.redes-sociais {
  display: flex;
  gap: var(--gap-24);
}

img.logo-rodape {
  width: 120px;
  margin-bottom: 10px;
}

/* ======================
--SCROLLBAR-- 
========================= */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: linear-gradient(180deg, #307CE8, #1763CF);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #307CE8, #1763CF);
}

/* ===========================================
WIDESCREEN / DESKTOP RESPONSIVO (1920px)
============================================== */

@media (min-width: 1367px) and (max-width: 1920px) {

  .hero-content {
    width: 70%;
  }

  .section-header p {
    text-align: right;
  }

  .feature-image,
  .feature-content,
  .mini-card,
  .image-card {
    width: 100%;
  }

  .whatsapp-float {
    bottom: 140px;
  }
}

/* ===========================================
NOTEBOOK RESPONSIVO (1366px)
============================================== */

@media (min-width: 1201px) and (max-width: 1366px) {

  :root {

/* ======================
--TIPOGRAFIA-- 
========================= */    

  --fonte-titulos: 'Figtree', sans-serif;
  --fonte-textos: 'Inter', sans-serif;
  --fs-h1: 40px;
  --fs-h2: 35px;
  --fs-h3: 30px;
  --fs-p: 16px;
  --lh-titulos: 150%;
  --lh-textos: 220%;

/* ======================
--ESPAÇAMENTOS-- 
========================= */  

  --padding-cta: 50px 80px;
  --padding-btn2: 45px 50px; 
  --gap-nav: 50px;

/* ======================
--LAYOUT-- 
========================= */  

  --h1-width: 60%;
  --h2-width: 70%;
  --container-width: 1100px;
  --radius: 14px;
  }

  body {
    font-size: var(--fs-p);
  }

  .container {
    width: var(--container-width);
    padding-inline: 40px;
  }

  .hero-content h1 {
    width: var(--h1-width);
  }

  h1 {
    font-size: 40px;
    line-height: var(--lh-titulos);
  }

  h2 {
    font-size: 35px;
    line-height: var(--lh-titulos);
  }

  .section-header h2 {
    width: var(--h2-width);
  }

  nav {
    gap: var(--gap-nav);
  }

  .about-bg-text h2 {
    font-size: 250px;
  }

  .about-wrapper {
    gap: 60px;
  }

  .about-image {
    width: 50%;
    height: auto;
  }

  .about-content {
    width: 100%;
  }

  .cta-btn {
    padding: var(--padding-cta);
  }

  .secondary-btn {
    padding: var(--padding-btn2);
  }
}

/* ===========================================
CELULAR / MOBILE RESPONSIVO (767px)
============================================== */

@media (max-width: 767px) {

/* ======================
--BODY--
====================== */

  body {
    overflow-x: hidden;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
  }

/* ======================
--CONTAINER--
====================== */

  .container {
    width: 100%;
    max-width: 747px;
    margin: 0 auto;
    padding-inline: 40px;
  }

/* ======================
--HEADER-- 
====================== */

  .header {
    padding: 35px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 36px;
  }

/* ======================
--HERO--
====================== */

  .hero {
    text-align: center;
    height: 1200px;
  }

  .hero-content {
    width: 100%;
    max-width: 647px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 70px;
  }

  .hero-content h1 {
    width: 100%;
    margin: 0 auto;
    font-size: 40px;
    line-height: 150%;
  }

  .hero-content p {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 200%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 25px;
  }

  .cta-wrapper {
    position: relative;
    margin: 0 auto;

  .cta-btn {
    padding: 55px 105px;
    }

/* ======================
--SEÇÃO--
====================== */

  section {
    padding-inline: 40px;
  }

  h1,
  h2,
  p {
    text-align: center;
  }

  h1 {
    font-size: 45px;
    line-height: var(--lh-title);
  }

  h2 {
    font-size: 40px;
    line-height: var(--lh-title);
  }

  p {
    font-size: 18px;
    line-height: var(--lh-text);
  }
}

/* GALERIA DE IMAGENS */

.gallery-grid {
  display: grid;
  gap: 24px;
}

.card-1,
.card-2,
.card-3 {
  height: 463px;
  overflow: hidden;
  border-radius: var(--radius);
  border: 1px solid #1b1d30;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
}

.card-1,
.card-2 {
  width: 100%;
}

.card-3 {
  width: 100%;
}

.dual-wrapper {
  display: flow;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.mini-card {
  margin-bottom: 24px;
  text-align: left;
  padding: 60px;
}

.image {
  width: 100%;
}

.cards-title {
  margin-bottom: 40px;
}

.feature-card {
  display: block;
  margin-bottom: 40px;
  transition: all 0.2s ease;
}

.feature-content {
  width: 100%;
  display: block;
  height: 673px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 6px 6px 0;
  border: 1px solid #1b1d30;
  background: linear-gradient(90deg, #071222 0%, #08162B 100%);
}

.image-card {
  display: flex;
}

.big-cta {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.secondary-btn {
  display: none;
  padding: 55px;
}

.secondary-btn2 {
  padding: 55px;
}

nav {
  display: none;
  gap: var(--gap-nav);
}

.section-header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.section-header p {
  width: 100%;
  text-align: center;
}

.section-header h2 {
  width: 100%;
  font-size: 35px;
  line-height: var(--lh-title);
}

.faq-wrapper {
  display: flow;
}

.faq-item {
  width: 100%;
}

.faq-suporte {
  width: 100%;
  margin-left: 0;
  margin-top: 24px;
  height: 500px;
  align-content: center;
}

.about-image {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.about-card {
  display: flow;
  padding: 60px 60px;
  width: 100%;
  text-align: left;
  min-height: min-content;
}

.about-content {
  width: 100%;
  margin-left: 0;
}

.footer {
  display: table;
}

p.text-footer {
  font-size: 14px;
}

}